<header>
  <i class="fa fa-cutlery fa-3"></i>
  <h2>Thai and Tie</h2>
  <div></div>
  <p>Food Delivery & Takeout<p>
    <button class="home-button" placeholder="Home">HOME</button>
  <button class="support-button" placeholder="Home">SUPPORT</button>
</header>
<div class="nameofrest">
  <h1>Taste of a Spicy Dish</h1>
  <span>We are located at:</span>
  <span>Edgegrove Chase. A semi detached villa in a private cul-de-sac in the suburbs of the city.</span>
  <label for="menu">Menu</label>
  <label for="hours-info">Hours & Info</label>
  <label for="reviews">Reviews</label>

</div>
